/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

body {
  margin: 0;
  /* padding: 50px; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 2;
  background: url('/images/finished.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.primeiraimg {
  margin: 0;
  padding: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 2;
  background: url('/images/finished') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

/* .homepage {
  margin: 0;
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 2;
  background: url("/images/space-bg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */

.headline {
  color: aliceblue;
}

.title-createboook {
  color: aliceblue;
}

.btn-login {
  color: aliceblue;
}

.btn-signup {
  color: aliceblue;
}

.btn-profile {
  color: white;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #0c0fc9ad 0%, #bd1044b9 100%);
}

.title {
  color: white;
}

/* body {
  opacity: 0.7;
} */

card-img-top {
  opacity: 1;
}

/* .navi {
  float: right;
} */

.headline {
  color: blueviolet;
  font-family: fantasy;
}

.libfundo {
  /* margin: 0;
  padding: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 2; */
  background: url('/images/space-bg1') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* height: 100vh; */
}
